@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookshelf Web Application</h1>
    <p>Simple app to track books you read or just plan to read in the future.</p>
    <p>This Web Application is built on <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>